<!DOCTYPE html>
<html>
  <head>
    <title>ChijiRr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/android/mipmap-ldpi/ic_launcher.png" sizes="36x36" />
    <link rel="icon" href="/android/mipmap-mdpi/ic_launcher.png" sizes="48x48" />
    <link rel="icon" href="/android/mipmap-hdpi/ic_launcher.png" sizes="72x72" />
    <link rel="icon" href="/android/mipmap-xhdpi/ic_launcher.png" sizes="96x96" />
    <link rel="icon" href="/android/mipmap-xxhdpi/ic_launcher.png" sizes="144x144" />
    <link rel="icon" href="/android/mipmap-xxxhdpi/ic_launcher.png" sizes="192x192" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
